<div class="container">


    <% if (JSON.parse(report).aggregate.customStats) { %>
    <% Object.keys(JSON.parse(report).aggregate.customStats).forEach(function (statName) { %>
    <% var id = 'id_' + Math.floor(Math.random() * 10000); %>
    <div class="row">
        <div class="<%= id %> text-center col-lg-12"></div>
        <script>
            var histogramData = _.map(Report.aggregate.customStats['<%= statName %>'], function(v, k) { return {bin: k, value: v} });
            MG.data_graphic({
              chart_type: 'bar',
              x_label: 'Percentile',
              y_label: '(ms)',
              animate_on_load: true,
              title: '<%= statName %> distribution',
              description: 'Distribution of <%= statName %>',
              target: '.<%= id %>',
              data: histogramData,
              x_accessor: 'bin',
              y_accessor: 'value',
              binned: true,
              height: 250,
              interpolate: 'monotone',
              padding_percentage: 0,
              bar_orientation: 'vertical',
              width: 450
            });
            </script>
    </div>
    <% }); %>
    <% } %>

</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h3 class="text-center">Raw report data</h3>
        <p>This is the raw JSON stats output that the report was generated from.</p>
        <div id="editor">
        </div>
    </div>
</div>

<script>

</script>
<div id="footer">
    <footer>This report was created with <a href="https://artillery.io">Artillery</a> - free open-source load-testing for HTTP and WebSockets</footer>
</div>
